<%- include('template/header') %>

<script type="text/javascript">
  if(document.referrer != "<%= referrer %>"){
    window.location.href = "/";
  }
</script>

<div class="container">
  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>

  <div class="module">
    <a class="module-name" href="#">
      <h2><i class="fas fa-link"></i> INF105</h2>
    </a>
    <a href="#" class="google-drive-link"><i class="fab fa-google-drive"></i></a>
  </div>
</div>


<%- include('template/footer') %>
