<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="icon" href="./image/favicon.png">
    <link rel="stylesheet" href="./css/dog.min.css">
  </head>
  <body>

    <script type="text/javascript" src="./js/dog.js"></script>

    <%- include('template/dog') %>
    
  </body>
</html>
