<footer>
  <div class="container">
    <div class="footer-content">
      <a href="#" class="mail">hackerman@<span class="eternalloneliness">eternalloneliness.dog</span></a>
      <span class="version">version 2.0.0</span>
    </div>
  </div>
</footer>

</body>
</html>
