<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>eternalloneliness</title>

    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="icon" href="./image/favicon.png">

    <script src="https://kit.fontawesome.com/b66bbacdfb.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/titlechange.js"></script>
    <script type="text/javascript">
      if(!document.referrer.includes("<%= url %>")){
        window.location.href = "/";
      }
    </script>
  </head>
  <body>

    <header>
      <div class="container">
        <h1><a href="/home">eternalloneliness.dog <span class="beta-badge">bêta</span></a></h1>
        <a href="/upload" class="upload-button"><span class="upload-button-content"><i class="fas fa-upload"></i> Upload</span></a>
      </div>
    </header>


    <!--<div class="container">
      <nav>
        <ul>
          <li><a href="#">Onglet</a></li>
          <li><a href="#">Onglet</a></li>
          <li><a href="#">Onglet</a></li>
        </ul>
      </nav>
    </div>-->
