<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eternallonliness</title>
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="icon" href="./image/favicon.png">
  </head>
  <body>

    <script type="text/javascript" src="./js/titlechange.js"></script>
