@import '_var';

.module{
  background-color: $module-bkg-color;
  border-radius: 4px;
  margin: 25px 0;
  position: relative;
  overflow: hidden;
  &:hover{
    background-color: lighten($module-bkg-color, 5%);
    a.module-name h2{
      color: $text-color-1;
      .module-short-name{
        color: $text-color-1;
      }
    }
  }
  a.module-name{
    display: block;
    h2{
      font-size: 20px;
      color: $text-color-3;
      padding: 30px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:100%;
      padding-right: 100px;
      font-weight: normal;
      .module-short-name{
        text-transform: uppercase;
        font-size: 30px;
        color:$text-color-2;
        font-weight: bold;
      }
      i{
        font-size: 20px;
        color:$text-color-2;
      }
      .module-full-name{
        padding-left: 15px;
        margin-left: 10px;
        border-left: 1px solid $border-color;
      }
    }
  }
  .google-drive-link{
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    font-size: 30px;
    padding: 30px;
    background-color: $green;
    transition: .3s;
    color: $module-bkg-color;
    &:hover{
      background-color: lighten($green, 20%);
    }
  }
}
@media screen and (max-width: 600px) {
  .module{
    margin: 15px 0;
    a.module-name{
      h2{
        font-size: 15px;
        padding: 20px;
        vertical-align: middle;
        padding-right: 70px;
        .module-short-name{
          font-size: 20px;
        }
        i{
          font-size: 15px;
        }
      }
    }
    .google-drive-link{
      font-size: 20px;
      padding: 20px;
    }
  }
}
