$bkg-color: #202225;

$text-color-1: #adb5bd;
$text-color-2: darken($text-color-1, 10%);
$text-color-3: darken($text-color-2, 20%);

$module-bkg-color: #2F3136;
$border-color: #494D55;

$pink: #ffbcbc;
$cyan: #4cd3c2;
$green: #b7efcd;
