@import '_var';

$module-bkg-color: #0E0E0E;
$module-border-color: #262626;

.module{
  padding: 30px;
  border: 1px $module-border-color solid;
  border-radius: 15px;
  background-color: $module-bkg-color;
  h2{
    color: $text-color-1;
    padding: 25px 0;
  }
  .folder{
    padding: 20px 0;
    .folder-name{
      display: block;
      font-size: 1.3em;
      padding-top: 15px;
      border-bottom: 1px $module-border-color solid;
    }
    .folder-content{
      margin-left: 50px;
    }
  }
  .file{
    padding: 20px 0;
    border-bottom: 1px $module-border-color solid;
    &:last-child{
      border-bottom: none;
    }
  }
}
