@import '_var';

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
 font-family: "Altair";
 src: url("../font/Altair.ttf");
}

body{
  background-color: $bkg-color;
  font-family: 'Source sans pro', sans-serif;
  color: $text-color-2;
}

.container{
  width:1000px;
  margin: auto;
}
